page-home {

}

.upperProfile {
	text-align: center;
	background-color: green;
}
ion-card img{
	height: 100px;
	width: 100px;
	position: relative;
	margin-left: 35%;
	border-radius: 100%;
}

.profileDetailsUp p{
	color: white;
}